
.logo {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  width: 190px;
  height: 50px;
  margin-bottom: 0px;
}
.navbar_getstarted {
  /* background-color: rgba(255, 255, 255, 0.4); */

  /* position: fixed; */
  /* right: 0; */
  /* left: 0;/ */
  z-index: 1030;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 0 18px rgba(55, 66, 65, 0.40);
}
.get_started_signin_btn {
  font-family: "Questrial", sans-serif;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.55em 1.5em 0.5em;
  box-shadow: 0px 0 10px rgba(55, 66, 59, 0.600)
}
.footer_container{
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
.content_navbar a:hover {
  color: rgb(251, 255, 0);
}
.content_navbar a {
  color: rgb(255, 255, 255);
}
.navbar-nav .nav-link.active{
  color:red
}