body {
  background-image: url("homepage.png");
}
bod y:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.7) 35%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.4) 65%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.2) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}
.logo {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  width: 190px;
  height: 50px;
  margin-bottom: 0px;
}
.navbar_getstarted {
  background-color: rgba(0, 0, 0, 0.4);

  /* position: fixed; */
  /* right: 0; */
  /* left: 0;/ */
  /* z-index: 1030; */
  padding-top: 2px;
  padding-bottom: 2px;
}
.get_started_signin_btn {
  font-family: "Questrial", sans-serif;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  color: rgb(248, 249, 250);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.55em 1.5em 0.5em;
}
.get_started_line1 {
  font-family: "Anton", sans-serif;
}
.get_started_line2 {
  font-family: "Faustina", serif;
  font-weight: 500;
}
.get_started_line3 {
  font-family: "Faustina", serif;
  font-weight: 400;
  font-size: x-large;
}
.get_started_starting_btn {
  background-color: #10b6df;
  border-radius: 5px;
  border-color: #10b6df;
  font-size: 20px;
  padding: 8px 28px;
  font-family: "Oswald", sans-serif;
}
hr{
    width: 600px;
    border-top: 1px solid white;
    opacity: 100%;
}